.calendar-page-container {
  padding-bottom: 64px;
  background-color: $dark-gray;


  .calendar-container {
    // height: 400px;
    background-color: $medium-gray;
    border-radius: 6px;
    border: 1px solid rgba(181, 179, 179, 0.12);

    .calendar-headers {

      h2 {
        color: #ECECEC;
      }
    }

    .calendar-inner-container {




      .simple-calendar {
        table {
          min-height: 70vh;
          table-layout: fixed;
          width: 100%;
          background: linear-gradient(45deg, #acabab, #f6f1f1);

        }

        .day:hover {
          background-color: $light-purple;
          cursor: pointer;
        }

        .prev-month {
          background: #666;
        }

        .next-month {
          background: #666;
        }

        .today {
          background-color: $light-purple;
        }

        .has-events {
          overflow: hidden;
          background-color: $hovered-purple;
          color: $something;
          max-height: 80px;
          transition: all 0.5s ease;
          cursor: pointer;

          p {
            margin: 0;
            padding: 0;
            font-size: 16px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-shadow: 0 0 1px #333;
          }
        }

        .calendar-next-previous-btn {
          color: $something;
          border-color: $something;

          &:hover {
            background-color: #403f44;
          }
        }

        .create-event-btn-outline {
          color: $something;
          border-color: $purple;

          &:hover {
            background-color: $purple;
          }
        }
      }

      .calendar-event {
        color: $something;
        background-color: $hovered-purple;
        padding: 8px 24px;
        margin-top: 2px;
        border-radius: 4px;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // transition: background 0.3s ease;
      }

      .calendar-event:hover {
        opacity: 1;
      }

    }
  }
}
