.page-container {
  background-color: #1F2022;
  height: 100%;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;

  .dashboard-header-column {
    width: auto;
    height: 100px;
    color: #FFFFFF;
  }
}

.dashboard-tasks-container {
  height: 400px;
  background-color: #2A2B2D;

  .tasks-sections-container {
    height: 400px;
    align-self: center;

    h5 {
      padding-top: 16px;
    }

    .content-container {
      height: 320px;
      overflow: hidden;

      .task-assignee-avatar {
        height: 24px;
        width: 24px;
      }

      .task-description {
        color: #ececec;
      }

      .tasks-event-container {
        background-color: #ececec;
      }
    }
  }


}

.dashboard-events-container {
  height: 800px;
  background-color: #585859;

  .event-container {
    height: 240px;
  }
}
