.dashboard-page-container {
  background-color: #1F2022;
  height: 100%;

  .dashboard-tasks-container {
    height: 400px;
    background-color: #2A2B2D;
    overflow: hidden;

    .dashboard-tasks-headers {

      h3 {
        color: #ECECEC;
      }
    }

    .dashboard-tasks-inner-container {
      height: 100%;
      overflow: auto;
    }
  }

  .dashboard-events-container {
    height: 800px;
    background-color: #2A2B2D;
    overflow: hidden;

    .dashboard-events-headers {

      h3 {
        color: #ECECEC;
      }
    }

    .dashboard-events-inner-container {
      height: 100%;
      overflow: auto;
    }
  }
}
