.page-container {
  // background-color: #1F2022;
  background-color: $dark-gray;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  .event-form-container {
    background-color: $medium-gray;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #f4f4f473;
  }

}
