// Specific CSS for your home-page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.landing-main {
  // subtle linear-gradient mainly $medium-gray but with hint of $purple
  background: linear-gradient(45deg, #5528cf3f, #151c24);
  padding-left: 10%;
}

section {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

section .logo {
  position: fixed;
  top: 20px;
  left: 20px;
  color: $purple;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 100;
}

section .bg {
  position: absolute;
  top: 0;
  right: 60px;
  height: 100%;
}

section .content {
  position: relative;
  max-width: 650px;
  z-index: 1;
  margin-left: 30px;
  margin-top: 4rem;
}

section .content h2 {
  font-size: 3em;
  font-weight: 700;
  color: $something;
  line-height: 1.2;
}

section .content p {
  font-size: 1.1em;
  color: $something;
  margin: 1rem 0 1rem;
}

section .content .brand-btn {
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding: 10px 30px;
  margin: 20px 0;
}

.top-div {
  margin-bottom: 4em;
}

.copyright-text {
  position: absolute;
  left: 30px;
  color: $something;
  font-size: 1.1em;
  margin: 20px;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 100vw;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.social-media ul {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 30px;
  margin-top: 15px;
}

.social-media ul li i {
  font-size: 2.5em;
  color: $something;
}

.social-media ul li i:hover {
  color: $hovered-purple;
  transform: scale(1.2);
  transition: all 0.5s ease;
  cursor: pointer;
}

.landing-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 60vw;
  margin: 30px 0;
  gap: 2rem;
}

.landing-card {
  position: relative;
  width: 300px;
  height: 150px;
  background: $something;
  border-radius: 8px;
  border: 1px solid $purple;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  transition: all 0.5s ease;
}

.landing-card:hover {
  height: 250px;
  margin-top: -60px;
  cursor: pointer;
}

.landing-card .landing-card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 0.4em;
  overflow: hidden;
}

#landing-title {
  color: #555;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1.2;
}

#landing-title span {
  font-weight: 400;
  opacity: 0.5;
  font-size: 0.6em;
  margin-bottom: 2rem;
}

.landing-card .landing-card-content .landing-card-details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: all 0.5s ease;
  transform: translateY(50px);;
}

.landing-card:hover .landing-card-content .landing-card-details {
  transform: translateY(0);
}

.landing-card:hover .landing-card-content .landing-card-details .learn-more-btn {
  text-decoration: none;
  color: $purple;
  padding: 10px 30px;
  border: 1px solid $purple;
  border-radius: 8px;
  margin-top: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.landing-card:hover .landing-card-content .landing-card-details .learn-more-btn:hover {
  background-color: transparent;
  color: $something;
}

.img-bx {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  color: $hovered-purple;
  background: #f4f4f4;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.5s ease;
}

.landing-card:hover .img-bx {
  width: 100px;
  height: 100px;
}

.landing-card:hover .img-bx i {
  font-size: 3.5em;
  transition: 0.5s;
}

.img-bx i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

// Media Queries
@media screen and (max-width: 768px) {
  section {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  section .content {
    margin-left: 0px;
    max-width: 75%;
  }

  section .content h2 {
    font-size: 2em;
    font-weight: 700;
    color: $something;
    line-height: 1.1;
  }
}
