<div class="task-container m-3">
  <div class="form-check task-checkbox">
    <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault">
    <label for="flexCheckDefault" class="form-check-label" value="">Task name</label>
    <p class="task-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cum cumque.</p>
  </div>
  <div class="task-due-date px-3">
    <p>Wednesday, August 24th</p>
    <p>20:00 JST</p>
  </div>
  <div class="container task-event">
  </div>
</div>
