<div class="dashboard-page-container container-fluid pt-3">
  <div class="row mx-3 justify-content-center  mb-3">
    <div class="dashboard-tasks-container col-10 p-3">
      <div class="dashboard-tasks-headers ps-3">
        <h2 class="">Tasks <span class="dashboard-tasks-count">(<%= @tasks.where(status: "pending").count %> remaining)</span></h2>
      </div>
      <div class="dashboard-tasks-inner-container">
        <% @tasks.each do |task| %>
          <%= render 'dashboard_task', task: task %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mx-3 justify-content-center">
    <div class="dashboard-events-container col-10 p-3">
      <div class="dashboard-events-headers pe-5 ps-4 py-3">
        <h2 class="">Events</h2>
        <%= link_to 'Create Event', new_event_path, class: "brand-btn" %>
      </div>
      <div class="dashboard-events-inner-container">
        <% @events.each do |event| %>
          <%= render 'dashboard_event', event: event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
