<div class="modal fade" id="assignMembersModal<%=manager.id%>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title">Assign a task to <%= manager.user.full_name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container d-flex flex-wrap gap-2">
          <% if event_members.event.event_members.any? %>
            <% event_task.event.event_members.each do |event_member| %>
              <%= simple_form_for([event_task, TaskMember.new]) do |f| %>
                <%= f.input :event_member, as: :hidden, input_html: {value: event_member.id }%>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
