<div class="modal fade" id="addMemberModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title">Add a member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@event, @event_member]) do |f| %>
          <%= f.input :user_id, as: :select, collection: @users, label_method: :full_name %>
          <%= f.input :permission, as: :select, collection: EventMember.permissions.keys, label_method: :capitalize %>
          <%= f.submit class: "btn btn-dark" %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
