<div class="message-content">
  <td class="table-text-content"><div><%= message.content %></div></td>
  <td class="table-text-username"><div><strong><%= message.event_member.user.full_name %></strong></div></td>
  <td class="table-text-time"><div><%= message.created_at %></div></td>
</div>
