<div class="mt-5 mx-5">
  <%= render 'shared/add_task_form', event: event  %>
  <div class="row">
    <div class="col-1">
      <%= link_to event_tasks_path(event), data: {bs_toggle: 'modal', bs_target: '#addTaskForm'} do  %>
        <i class="fa-solid fa-square-plus fs-1 text-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Add a Task">
        </i>
      <% end %></div>
    <div class="col-5 d-flex flex-column gap-3">
      <% tasks.select{|task| !task.done}.each do |task| %>
        <%= render 'shared/task', event: event, task: task %>
      <% end %>
    </div>
    <div class="col-5 d-flex flex-column gap-3">
      <% tasks.select{|task| task.done}.each do |task| %>
        <%= render 'shared/task', event: event, task: task %>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>
