<div class="container">
  <div class="banner background-image: url('https://www.6amgroup.com/wp-content/uploads/2016/12/The-right-DJ-can-improve-an-event.jpg')">
    <div>
    <h1><%= @event.name %></h1>
    </div>
  </div>
</div>
