<div class="modal fade" id="addMembersModal<%= event_task.id %>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title">Assign a member to this task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container d-flex flex-wrap gap-2">
          <% if event_task.event.event_members.any? %>
            <%= render 'shared/add_member_to_task_form', event_task: event_task %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
