<div class="modal fade" id="addMembersModal<%= event_task.id %>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title">Assign a member to this task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container d-flex flex-wrap gap-2">
          <% if event_task.event.event_members.any? %>
            <% event_task.event.event_members.each do |event_member| %>
              <%= simple_form_for([event_task, TaskMember.new]) do |f| %>
                <%= f.input :event_member, as: :hidden, input_html: {value: event_member.id }%>
                <%= image_submit_tag(event_member.user.avatar_url,
                    class: 'event-member-avatar align-self-stretch',
                    data: {bs_toggle: "tooltip", bs_placement: 'top'},
                    title: "#{event_member.user.first_name} #{event_member.user.last_name}")%>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= image_tag event_member.user.avatar_url,
                    #alt: "user-avatar",
                    #class: 'event-member-avatar align-self-stretch',
                    #data: {bs_toggle: "tooltip", bs_placement: 'top'},
                    #title: "#{event_member.user.first_name} #{event_member.user.last_name}"%>
