<div class="landing-main">
  <section>
    <div class="logo"><i class="fa-solid fa-headphones me-3"></i>ii-Vent</div>
    <img src="https://images.unsplash.com/photo-1583376097610-516c37bb66ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="landing-image" class="bg">
    <div class="content">
      <h2>Make your next event an<br> ii-vent.</h2>
      <p>If you are involved in creating live music events, let the creation begin here! Store your events, assign tasks, talk with other event members.</p>
      <p>All the power of event management and organization tools, but with more fun.</p>
      <%= link_to 'Get Started', dashboard_path, class: "brand-btn" %>
    </div>
    <p class="copyright-text">© 2022 ii-Vent. All rights reserved.</p>
  </section>
  <div class="menu-toggle"><i class="fa-solid fa-bars hamburger"></i></div>
  <div class="social-media">
    <ul>
      <li><i class="fa-brands fa-square-facebook"></i></li>
      <li><i class="fa-brands fa-square-github"></i></li>
      <li><i class="fa-brands fa-square-twitter"></i></li>
    </ul>
  </div>
</div>
