.event-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
  height: 250px;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 4px;
}
