.simple-calendar {
  table {
    min-height: 60vh;
  }

  .today {
    // background-color: #FAF3DD;
  }
}

.dashboard-calendar-event {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  // background: #1EDD88;

  // transition: background 0.3s ease;

  &:hover {
    // background: #1BCB7F;
    // color: white;
  }
}
