.task-container {
  height: 80px;
  display: flex;
  align-items: center;
  color: #ECECEC;
  border: 1px solid #1F2022;
  padding: 8px;
  padding-right: 0;
  justify-content: space-between;

  &:hover {
    filter: brightness(150%);
  }

  .task-checkbox {
    overflow: hidden;
    margin: 0;
    max-width: 480px;
    flex-grow: 1;

    input[type=checkbox] {
      transform: scale(1.5);

    }

    .dashboard-task-input {
      margin-right: 8px;
    }

    label {
      padding-left: 16px;
      font-size: 16px;
    }

    .task-description {
      color: #A2A0A2;
      font-size: 16px;
      margin-left: 16px;
    }
  }

  .task-status {
    justify-self: end;
  }

  // task status states
  .task-status-badge {
    font-size: 16px;
    border-radius: 55px;
    padding: 0 8px;

  }

  .task-status-badge.done {
    background-color: #bcf0da;
    border: 1.5px solid #0f4737;
    color: #0f4737;
  }

  .task-status-badge.archived {
    background-color: #374251;
    border: 1.5px solid #d1d5db;
    color: #d1d5db;
  }

  .task-status-badge.pending {
    background-color: #6D48D3;
    border: 1.5px solid #1e429f;
    color: #ECECEC;
  }

  .task-due-date {
    font-size: 16px;
    margin: 0;
    text-align: right;
    flex-grow: 1;
    min-width: 160px;
    max-width: 200px;
  }

  .task-event-link-container {
    text-decoration: none;
  }

  .task-event {
    height: 80px;
    width: 240px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    justify-self: end;

    h5 {
      align-self: center;
      color: #ECECEC;
      text-shadow: 1px 1px #151c24;
    }
  }

  p {
    margin: 0;
  }
}
