.container-files {

  background-color: $medium-gray;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 16px;
}

.container-files-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 24px;
  padding: 16px;
}

.event-file-container {
  height: 320px;
  background-color: $dark-gray;
  border-radius: 5px;
  padding: 24px;
  overflow: hidden;
}

.event-file {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.files-form-container {
  padding: 24px;
  padding-top: 36px;
  color: $light-purple;
  // grid-column-start: 1;
  // grid-column-end: span 2;
  // grid-row-start: 1;
  // grid-row-end: 1;
  text-align: center;
}
