.container-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  background-color: $medium-gray;
  gap: 24px;
  border-radius: 4px;
  margin-top: 8px;
}

.element-main1 {
  padding: 24px;
  padding-top: 36px;
  color: $light-gray;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

.element-main2 {
  padding: 24px;
  padding-top: 36px;
  color: $light-gray;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.element-main3 {
  padding: 24px;
  padding-top: 36px;
  color: $light-gray;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.element-main4 {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.nav-item a:hover {
  cursor: pointer;
}


.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  justify-items: center;
  justify-content: center;
}

.info-card {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: $medium-gray;
  padding: 10px;
  padding-left: 24px;
  margin: 10px 0;
  font-family: 'Roboto';
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 6px;

  i {
    position: absolute;
    font-size: 80px;
    zoom: 2;
    top: 35%;
    right: 0;
    opacity: 0.1;
  }
}

.info-title {
  font-size: 32pt;
  color: $light-gray;
  margin-top: 10px;
}

.info-sub-title {

  font-size: 18pt;
  color: #999;
  text-transform: uppercase;
}

// To turn off hover effects on the Timetable, Gear, etc.
.noHover {
  pointer-events: none;
}
