.container-files {

  background-color: $medium-gray;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 16px;
}

.container-files-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 24px;
  padding: 16px;
}

.event-file-container {
  height: 320px;
  background-color: $dark-gray;
  border-radius: 5px;
  padding: 24px;
  overflow: hidden;
  position: relative;

  i {
    position: absolute;
    bottom: 28px;
    right: 28px;
    font-size: 24px;
    color: $light-gray;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      font-size: 26px;
    }
  }
}

.promotion-title {
  font-size: 24px;
  text-align: center;
  color: $light-gray;
  margin-bottom: 8px;
}

.event-file {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.files-form-container {
  padding-top: 36px;
  color: $light-purple;
  // grid-column-start: 1;
  // grid-column-end: span 2;
  // grid-row-start: 1;
  // grid-row-end: 1;
  max-width: 40%;
}
