.grid-members {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-product {
  overflow: hidden;
  height: 120px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
  border: 1px solid rgba(181, 179, 179, 0.12);
  display: flex;
  align-items: center;
  background-color: $medium-gray;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 4px;
  position: relative;
}

.card-product img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: $light-gray;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $light-gray;
}

.card-product .card-product-infos {
  padding: 16px;
}

.add-btn {
  text-decoration: none;
  background-color: $medium-gray;
  color: $light-gray;
  font-family: $headers-font;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 16px;
}

.add-btn:hover {
  background-color: $light-gray;
  color: $bg-gray;
}


.plus-btn {
  color: $bg-gray;
  position:absolute;
  bottom:4px;
  right:4px;
}
