.messages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.message-header {
  img {
    width: 28px;
    height: 28px;
    border: 1px solid grey;
    border-radius: 55px;
  }
}

.side-panel {
  margin-left: 24px;
  background: $medium-gray;
  border-radius: 8px;
  // very subtle border
  border: 1px solid rgba(255, 255, 255, 0.259);
}

.main-panel {
  margin-right: 48px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: end;
  border: 1px solid $something;
  background: $medium-gray;
}

.panel-body {
  padding: 24px;
}

.message-form {
  position: sticky;
  bottom: 0;
  background: $medium-gray;
  padding: 1rem 0;
  border-top: 1px solid #666;
}

.panel-title {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $something;
  margin: 2rem 1rem;
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.list-group-item {
  text-decoration: none;
  background-color: $medium-gray;
  color: #666;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-radius: 8px;
  border: none;

  #general-chatroom {
    color: $something;
  }

  a {
    color: #888;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 24px;
    transition: all 0.3s ease-in-out;

  }

  &:hover {
    a {
      color: $something;
      transform: translateX(15px);
    }
  }
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 4px 8px 0px;
  min-height: 80px;

  p {
    margin: 0;
  }
}

.sender-style {
  background-color: $something;
  color: $dark-gray;
}

.receiver-style {
  background-color: $hovered-purple;
  color: $white;
}

.message-form-input {
  gap: 15px;
  margin: 0 1rem;
}

.form-control-text {
  width: 90%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid $something;
  padding: 4px;
  font-size: 16px;
}

.form-control-text:active {
  border: 1px solid $something;
}
