.messages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side-panel {
  margin-left: 24px;
  height: 58vh;
  display: flex;
  flex-direction: column;
  background: $medium-gray;
}

.main-panel {
  margin-top: 16px;
  margin-right: 48px;
  height: 55vh;
  display: flex;
  border-radius: 8px;
  border: 1px solid $purple;
  flex-direction: column;
  background: $something;
  overflow: scroll;
}

.panel-title {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $something;
  margin: 1rem 0;
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.list-group-item {
  text-decoration: none;
  background-color: $dark-gray;
  padding: 0.5rem 0;
  margin: 0.5rem 0;

  a {
    color: $something;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 24px;
  }
}

.message-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.table-text-username {
  font-size: 12px;
  color: $purple;
  margin: 1rem 0;
}

.table-text-content {
  font-size: 16px;
  color: $medium-gray;
  margin: 1rem 0;
}

.table-text-time {
  font-size: 12px;
  color: #888;
  margin: 1rem 0;
}

.message-form {
  position: sticky;
  bottom: 4px;
  background-color: $something;
  width: 100%;
  margin-top: 1rem;
}

.form-group {
  display: flex-wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.form-control {
  margin: 1rem 0;
  border: 1px solid $purple;
  border-radius: 8px;
  height: 48px;
  width: 80%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #888;
  padding: 0 1rem;
}

.form-control:focus {
  outline: none;
  background-color: $something;
  color: #333;
}

.send-msg {
  width: 15%;
  // move up to the same row as the input
  margin-top: -1.5rem;
  margin-right: 1rem;
}
