.messages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.side-panel {
  margin-left: 24px;
  height: 58vh;
  background: $medium-gray;
}

.main-panel {
  margin-top: 16px;
  margin-right: 48px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid $something;
  background: $medium-gray;
  overflow: scroll;
}

.panel-body {
  padding: 24px;
}

.message-form {
  position: sticky;
  bottom: 0;
  background: $medium-gray;
  padding: 1rem 0;
  border-top: 1px solid #666;
}

.panel-title {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $something;
  margin: 1rem 0;
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.list-group-item {
  text-decoration: none;
  background-color: $dark-gray;
  padding: 0.5rem 0;
  margin: 0.5rem 0;

  a {
    color: $something;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 24px;
  }
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: $something;
  color: $dark-gray;
}

.receiver-style {
  background-color: $hovered-purple;
  color: $white;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.form-control-text {
  width: 90%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid $something;
  padding: 4px;
  font-size: 16px;
}

.form-control-text:active {
  border: 1px solid $something;
}
