.sidenav {
  background-color: $medium-gray;
  height: 100vh;
  color: $light-gray;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  // box-shadow: 0 1px 6px rgba(125, 125, 125, 0.12), 0 1px 4px rgba(148, 148, 148, 0.24);
  z-index: 2;
  position: sticky;
  top: 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    margin: 0;
  }
}

.logo {
  font-size: medium;
}

.logo-name {
  font-family: 'Dancing Script', cursive;
  // font-size: 32px;
  font-weight: 700;
}

.side-divider {
  margin: 1rem 0;
}

.side-list-item {
  padding-left: 32px;
}
