.sidenav {
  background-color: $medium-gray;
  height: 100vh;
  color: $light-gray;
  z-index: 2;
  position: sticky;
  top: 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    margin: 0;
  }
}

.sidebar-logo {
  margin: -50px 0;
  margin-left: -80px;
}

.side-divider {
  margin: 1rem 0;
}

.side-list-item {
  padding-left: 32px;
}
